# Environments
venv/
.env
.venv
env/
ENV/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.pytest_cache/
.coverage
htmlcov/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
